@{
    ViewBag.Title = "Bethesda Car Rental";
}

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <p><img src="~/Images/bcr2.png" alt="Bethesda Car Rental - Chief Executive Officer Message" width="150" height="150" class="bordered" /></p>
            </div>
            <div class="col-md-8">
                <p class="sect-title">CEO'S MESSAGE</p>
                <p class="parajust">Bethesda Car Rental is a medium-size business that provides cars in many category to address various needs for car rent or short-term lease. We provide small/compact/economic cars, convertibles, sport utilities, pick-up trucks, and passenger vans.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <p><img src="~/Images/bcr3.png" alt="Bethesda Car Rental - Chief Executive Officer Message" width="150" height="150" class="bordered" /></p>
            </div>
            <div class="col-md-8">
                <p class="sect-title">CAREER/EMPLOYMENT</p>
                <p class="parajust">We are currently hiring in various categories in management, driving, maintenance, community service, public relations, research, and professional/technical writing, etc. You can apply to one or as many positions as you need.</p>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <p><img src="~/Images/bcr4.png" alt="Bethesda Car Rental - Chief Executive Officer Message" width="150" height="150" class="bordered" /></p>
            </div>
            <div class="col-md-8">
                <p class="sect-title">OUR FLEET</p>
                <p class="parajust">Bethesda Car Rental has a large collection of cars to meet any need. Whether you need a simple ride for the weekend, a convenient solution to attend a conference, a means to visit the area, or a comfortable vehicle for a trip to the countryside, BCR will come to the rescue.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <p><img src="~/Images/bcr5.png" alt="Bethesda Car Rental - Chief Executive Officer Message" width="150" height="150" class="bordered" /></p>
            </div>
            <div class="col-md-8">
                <p class="sect-title">RESERVATIONS</p>
                <ul>
                    <li>@Html.ActionLink("Make a reservation", "Index", "Home")</li>
                    <li>@Html.ActionLink("Check your reservation", "Index", "Home")</li>
                    <li>@Html.ActionLink("Change your reservation", "Index", "Home")</li>
                    <li>@Html.ActionLink("Cancel a reservation", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact our Office", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
</div>