@model BethesdaCarRental1.Models.Employee

@{
    ViewBag.Title = "Employee Details";
}

<h2 class="common-font text-center bold blue">Employee Details</h2>

<hr />

<div class="containment">
    <dl class="dl-horizontal common-font">
        <dt class="blue">@Html.DisplayNameFor(model => model.EmployeeID)</dt>
        <dd>@Html.DisplayFor(model => model.EmployeeID)</dd>

        <dt class="blue">@Html.DisplayNameFor(model => model.EmployeeNumber)</dt>
        <dd>@Html.DisplayFor(model => model.EmployeeNumber)</dd>

        <dt class="blue">@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt class="blue">@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt class="blue">@Html.DisplayNameFor(model => model.EmploymentTitle)</dt>
        <dd>@Html.DisplayFor(model => model.EmploymentTitle)</dd>
    </dl>
</div>

<p class="text-center">
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) ::
    @Html.ActionLink("Delete", "Delete", new { id = Model.EmployeeID }) ::
    @Html.ActionLink("Employees - Staff Members", "Index")
</p>
